<script type="text/javascript" src="../../js/common/min/formImagenesMain.js"></script>
<div id="galleryContainer" style="float:left;"></div>
<div id="trash">
    <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash"></span> Papelera</h4>
</div>
<div style="float:right; width:230px; height:30px; padding-top:35px;">
    <a href="./propiedadPict.php?acc=ra" id="btnOpenRadApp" class="theButton ui-state-default ui-corner-all">
        <span class="ui-icon ui-icon-plus"></span>Agregar Imagenes
    </a>
</div>