@charset "utf-8";

/*general*/
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
	padding:0px;
	background-color: #E1F4E1;
	font-family:"Arial";
	/*background-image:url(../imagenes/bk.gif)*/
	font-size: 14px;
}

a,select, input, label,div,ul{
	font-size: 14px;
	margin:0px;
	padding:0px;
	font-family:"Arial";
}

p{
	font-size: 14px;
	margin:0px;
	padding:0px 0px 10px 0px;
}

ul{
	margin: 0px;
	padding: 0px;
	/*color:#333333;*/
}

h4{
	line-height:30px;
	margin-top:10px;
	margin-bottom:5px;
}

input.inputText{
	width:100px;
	background-color:#CCCCC0;
	font-family:"Arial";
}

select.combo{
	width:155px;
	color: #333333;
	font-size: 12px;
	vertical-align:top;
}

select.combo#cboIdioma{
	width:auto;
}


/*capa principal*/
div#page{
	width:900px;

	padding:10px;
	background-color:#f5f5f4;
	border: 1px solid #339966;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	
}


/*capa header*/

#header{
	float:left;
	clear:both;
	width:890px;
	
	background-color:#339966;
	/*border-bottom:#FF0000 solid 3px;*/
	padding:5px;
}

#header_left {
	width:300px;
	clear:none;
	float:left;
}

#header_left img{

}

#header_right{	
	clear:none;
	float:right;
	text-align:right;
	/*background-image: url(../imagenes/header_right.png);*/
	
}

#header #barra_idioma{
height:20px;
line-height:20px;
color: #ffffff;
}



#header #barra_idioma img{
	vertical-align:top;
}


/*menu de navegacion*/
#menu{
	/*margin-top: 15px;*/
	float: left;
}

#menu li{
	float: left;
	clear:none;
	list-style: none;
	display: block;
	clear:none;
	height: 32px;
	line-height:32px;
	text-align:center;
	width: 120px;
	border: none;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background: url(../imagenes/boton.png) no-repeat;
	padding-bottom:1px;
	margin-right:0px;
	padding-right:1px;
	
}

#menu li:hover {
	background: #339966;
	color:#FFFFFF;
	padding-bottom:1px;
	margin:1px;
	margin-bottom:0px;
	margin-left:0px;
	padding:0px;
	border: none;
	
}



/*contenido*/
div#content{
	width:900px;
	min-height: 500px;
	clear:both;
	float:left;

}

/*panel superior*/
div#toppanel{
	width:900px;
	height:32px;
	background-color:#E1F4E1;
	border-bottom:1px solid #339966;	
	
}

div#toppanel img{
float:right;
}

/*panel izquierdo
div#leftpanel{
	float: left;
	clear:none;
	width:100px;
}*/

/*panel de la derecha*/

div#mainpanel{
	float: left;
	width:900px;
	margin-top:1px;
}

div#mainpanel #fotos_header_inicio{
width: 300px;
float: right;
margin-top:5px;
}

div#mainpanel #fotos_header_inicio img{
height:140px;
float: right;
padding-bottom: 5px;

}


/*seccion inicial*/
div#mainpanel #texto_inicio {
	width: 600px;
	text-align:justify;
	font-size:14px;
	font-weight: bold;
	line-height: 1.8em;	
	margin-top:5px;

}




/*seccion sobrenosotros*/
div#mainpanel #sobrenosotros {
	width: 100%;
	text-align:justify;
	font-size:14px;
	line-height: 1.8em;	
	background-color:#FFFFFF;
	margin-top:5px;
}

/*bodes redondeados*/
.roundedcornr_box {
	background: url(../imagenes/header/roundedcornr_tl.png) no-repeat top left;
}
.roundedcornr_top {
	background: url(../imagenes/header/roundedcornr_tr.png) no-repeat top right;
}
.roundedcornr_bottom {
	background: url(../imagenes/header/roundedcornr_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom div {
	background: url(../imagenes/header/roundedcornr_br.png) no-repeat bottom right;
}
.roundedcornr_content {

	background: url(../imagenes/header/roundedcornr_r.png) top right repeat-y;
}

.roundedcornr_top div,.roundedcornr_top,
.roundedcornr_bottom div, .roundedcornr_bottom {
	width: 100%;
	height: 10px;
	font-size: 1px;
}
.roundedcornr_content, .roundedcornr_bottom {
	margin-top: 0px;
}
.roundedcornr_content { padding: 0 10px; }




div#mainpanel #imagen_inicio{
	clear:none;
	float:right;
	margin-top: 2px;
	text-align: right;

}

div#mainpanel #imagen_inicio img{
	padding-top:20px;
	width:80%;
}



/*sección conctato*/
div#contacto #texto{
	font-size:14px;
	width:300px;
	float:left;
}

div#contacto #texto2{
	padding-left:100px;
	padding-top:50px;
	float:left;
}



/*buscador de propiedades*/

#buscador{
	background-color:#CCCCCC;
	
	font-size:12px;
	font-weight:bold;
	margin: 0px;
	clear:both;
	border:1px solid;
	border-color:#666666;
	padding: 10px;
}

div#buscador label{
	width:80px;	
	float:left;	
	color:#333333;
	font-weight:bold;	
	vertical-align: middle;
	text-align: left;
	padding-right:10px;
}

#buscador .criterio{
	float: left;
	clear:none;
	padding-right:15px;
	padding-bottom:5px;
}

#buscador #divtitulo{
	clear:both;
	padding-bottom:5px;
	height:30px;
}



#buscador #divboton{
	clear:both;
	height:30px;	
}



#buscador li {
	display: block;
	clear:none;
	float: right;
	height: 24px;
	line-height:24px;
	text-align:center;
	width: 100px;
	border: none;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background: #CCCCC;
	padding-bottom:1px;
	border:1px solid #666666;
}

#buscador li:hover {
	background: #339966;
	color:#FFFFFF;
}








div#leftpanel #browser_panel{
	width: 900px;
	clear:both;
	float:left;
}






/*pie de pagina*/

#footer{
	width:900px;
	height:40px;
	clear: both;	
	text-align:center;
	padding-top:15px;
}

#footer p{
	color:#339966;
	vertical-align:middle;
}

#footer p img{
	border:none;
	vertical-align:middle;
}







/*estilos de detalle*/
div.columna{
	float:left;	
	/*margin:3px;*/
}






div.columna li {
	display: block;
	clear:none;
	height: 24px;
	line-height:24px;
	text-align:center;
	width: 100px;
	border: none;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background: #CCCCCC;
	padding-bottom:1px;
	border:1px solid #666666;
}

div.columna li:hover {
	background: #339966;
	color:#FFFFFF;
}



/*icono de item de propiedad*/
div.columna#columna_thumbnail{

	padding-right: 10px;
	
	
}

div.columna#columna_iconos{
	width: 140px;
	padding:10px;
}

div.columna#columna_iconos img{
	width: 30px;
	border: 1px none;
}

div.columna#columna_descripcion{
	padding:10px;
	width:180px;
}

div.columna#columna_precio{
	padding:10px;
	width: 130px;

	/*height:120px;*/
}

div.columna#columna_acciones{
	padding-top:5px;
	padding-right:12px;
	/*height:120px;*/
	float:right;
} 





/*panel de resultados de busqueda*/

div#resultados #resultados_encabezado{

	border: none;
	text-align:center;
	width: 900px;
	color: #333333;
	float:left;
	clear:both;
	font-weight:bold;

}

div#resultados #resultados_lista{
	width: 100%;
	float:left;
	clear:both;
	margin-top:2px;
	
}

div#resultados{
	float:left;
	clear: both;
	margin-top:10px;
	width:100%;
}

div#resultados .etiqueta_estado_propiedad{
position:relative;
left: -520px;
float:left;
font-size: 18px;
font-weight: bold;
color: #000000;
margin-top:5px;
margin-left:0px;

/*border: dashed 1px #F1F1EF;*/
background: #339966;
text-align:center;
vertical-align:middle;
width: 130px;
padding-top:4px;
padding-bottom:4px;
padding-left: 0px;

}



/*tabla de resultados de busqueda*/
/*
.contenedor_fila{
	border: 1px solid #F1F1EF;
	
	float:left;
	width: 900px;
	margin-top: 2px;
}*/

.fila{
	clear:both;
	padding-left: 1px;
	float:left;
	margin-bottom: 5px;
	width:900px;
}

.fila_sombreada{
	clear:both;
	float:left;
	margin: 0px;
	padding:0px;	
	border: 1px solid #CCCCCC;
	background-color:#D6D6D6;
	margin-bottom: 5px;
	width:900px;
}




/*imagenes thumbnails*/
.thumbnail{
	width: 150px;
	height: 150px;
	border: 1px solid  #339966;;
}



div#servicios{
padding-top: 10px;

}

div#servicios ul {
  margin:0;
  padding-left: 1.5em;
  line-height: 2em;
}

div#servicios ul li { 
	padding-left: .2em;
	padding-bottom: 6px;
	list-style-image: url(../imagenes/vineta.png);
}

div#servicios #texto{
	width: 600px;
	float: left;
}

div#servicios img{
	width: 18%;
	border: 1px solid #339966;
	padding:2px;
	height: 130px;
}








div.itemcategoria{
	float:left;
	padding: 2px;
	width: 45%;
	text-align:center;
}

div.itemcategoria img{
	border:none;
}

div.itemcategoria img:hover{
	border:thin;
}

/*
div.itemcategoria a.textoCategoria{
	margin: 2px;
}

div.itemcategoria a.textoCategoria:hover{
	background-color: #339966;
}


div.itemcategoria a{
	text-decoration:none;
	
}
*/













div.box_filtro{
	float: left;
	clear: none;
	border-style: solid 1px #000000;
	padding: 0px;
	margin: 2px;
}












/*panel de publicidad*/

#adwordspanel{
	
	/*
	float:left;
	clear:both;
	*/
	border-color:black;
	border-style:dashed;
	border-width:1px;
	font-family:"Arial";
	font-size:12px;
	padding: 5px;
	text-align:justify;
	margin-top:20px;
}


/*propiedades mas visitadas*/

#masvistopanel{
	
	/*float:left;
	clear:both;
	*/
	width:150px;
	padding:0px;
	background-color:#CCCCC0;
	border:solid 1px #333333;
	color:#333333;
	/*text-align:center;*/
	margin-top:2px;
}

#masvistopanel img{
	width:135px;
	height:135px;
	padding: 10px;
}







